{% extends "/layouts/index.html"%} 
{% from "/components/flash/index.html" import FlashComponent%}

{% block title %}
  Signup  
{% endblock %}

{% block content %}
 
   <div class="auth-container">
    <form action="/signup" method="POST">
        <h2 class="mb-5">Signup</h2>
        {{FlashComponent()}}
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input required type="text" name="name" class="form-control">
          </div>
          <div class="mb-3">
            <label for="last_name" class="form-label">Last Name</label>
            <input required type="text" class="form-control" name="last_name">
          </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input required name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input required name="password" type="password" class="form-control" id="password">
        </div>
        <button type="submit" class="btn btn-light w-100 mb-3">Signup</button>
        <a class="text-light mt-5" href="/login"> Already have an account ? Login </a>
      </form>
   </div>
{% endblock %}
